.header-container {
  display: flex;
  justify-content: flex-end;
}

.middle-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.bottom-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
  